@define-color background-color #121212;
@define-color border-color #323232;
@define-color label #323232;
@define-color image #323232;
@define-color progress #C53030;


window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
